.recommended-desserts {
  padding: 4% 0;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-desserts__title {
  font-family: var(--fontB);
  font-size: 1.5rem;
  color: var(--darkgreen);
  text-shadow: 1px 1px 2px var(--flower), 0 0 1em var(--red),
    0 0 0.2em var(--yellow);
}
.recommended-desserts .user-component {
  background-color: rgba(0, 0, 0, 0.4);
}
.recommended-desserts .user-component h4 {
  font-size: 1.8rem;
}
.recommended-desserts .user-component:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.recommended-desserts span {
  margin: 10px 0;
  display: block;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.9;
  padding: 3% 0;
  font-size: 1.4rem;
  font-family: var(--fontB);
  color: var(--darkgreen);
  text-shadow: 1px 1px 2px var(--flower), 0 0 1em var(--red),
    0 0 0.2em var(--yellow);
}

.open-chat__header span {
  opacity: 0.6;
  font-size: 1.1rem;
}

.open-post {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--flower);
  font-family: var(--fontB);
  margin: 3%;
  padding: 1% 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.open-post:last-child {
  margin-bottom: 20%;
}
.open-post__title {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 7px;
}
.open-post__hashtags {
  color: var(--yellow);
  text-transform: uppercase;
  font-size: 0.9rem;
  opacity: 0.6;
}
.open-post__members {
  color: white;
  display: flex;
  align-items: center;
  margin-top: 7px;
}
.open-post__members img {
  object-fit: cover;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post__members .divider {
  width: 2px;
  height: 15px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.open-post__member-status {
  color: var(--green);
}
.open-post__photo img {
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.open-post__photo {
  position: relative;
}
.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.8rem;
}
.open-post__heart-count:hover {
  cursor: pointer;
}

.open-post__heart-count span {
  margin-left: 3px;
}
.open-post__heart-count span:first-child {
  font-size: 1rem;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: var(--red);
    transform: scale(1.2);
  }
  100% {
    color: white;
    transform: none;
  }
}
.open-post__heart-count:hover span:first-child {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
  cursor: pointer;
}
