.screen__playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 80%;
  gap: 1%;
  font-family: var(--fontEL);
}
.screen__playlist > div {
  display: flex;
  width: 85%;
}
.creator_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  padding: 5% 0;
}
.screen__playlist .list_playnow {
  width: 83%;
  border-radius: 15px;
  box-shadow: 5px 5px 10px Rgba(0, 0, 0, 0.3);
}
.creator_main > div {
  display: flex;
}

.creator_cover {
  background-image: url("https://encrypted-tbn2.gstatic.com/licensed-image?q=tbn:ANd9GcSCxgLaRBDLhj-T_OeM-AMGAHUyT8VI86jvHEBomChLeTVm5joLvVQ0p6Wpvmz_Rv3vXsoE7-wrfZ6hNyE");
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px Rgba(0, 0, 0, 0.3);
}

.creator_contents,
.main_contents {
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.creator_contents span:first-child,
.main_contents span:first-child {
  font-size: 2em;
  padding: 5% 0;
}
.creator_contents span:last-child,
.main_contents span:last-child {
  font-size: 1em;
  padding: 5% 0;
  color: var(--darkgreen);
}

.creator_button {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 5%;
}
.creator_botton_text {
  display: flex;
  padding: 5% 13%;
  align-items: center;
  border-radius: 20px;
  height: 40px;
}
.creator_botton_text:hover {
  cursor: pointer;
}

.creator_button div:first-child {
  background-color: black;
  color: white;
}
.creator_button div:last-child {
  gap: 5%;
  color: var(--darkgreen);
  box-shadow: 5px 5px 10px Rgba(0, 0, 0, 0.3);
}
.creator_button div span.material-symbols-outlined {
  color: black;
  font-variation-settings: "FILL" 1, "wght" 250, "GRAD" -25, "opsz" 20;
}

.creator_songs {
  display: flex;
  flex-direction: column;
  padding: 2% 1%;
  width: 85%;
  height: 100%;
  gap: 10px;
  overflow-y: auto;
  padding-bottom: 10%;
}

.song_list {
  display: flex;
  justify-content: space-between;
  padding: 2% 3%;
  transition: 0.7s;
}

.song_list:hover {
  border-radius: 15px;
  box-shadow: 5px 5px 10px Rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.song_list div:first-child {
  background-position: center;
  background-size: cover;
  width: 45px;
  height: 45px;
  border-radius: 10px;
}
.song_list:first-child div:first-child {
  background-image: url("https://image.bugsm.co.kr/album/images/200/129178/12917885.jpg?version=20231121015538.0");
}
.song_list:nth-child(2) div:first-child {
  background-image: url("https://image.bugsm.co.kr/album/images/200/6757/675773.jpg?version=20231117003008.0");
}
.song_list:nth-child(3) div:first-child {
  background-image: url("https://image.bugsm.co.kr/album/images/170/161119/16111969.jpg");
}
.song_list:nth-child(4) div:first-child {
  background-image: url("https://image.bugsm.co.kr/album/images/170/309544/30954491.jpg");
}
.song_list:nth-child(5) div:first-child {
  background-image: url("https://image.bugsm.co.kr/album/images/200/8195/819553.jpg?version=20231121005129.0");
}
.song_list:last-child div:first-child {
  background-image: url("https://image.bugsm.co.kr/album/images/200/8195/819553.jpg?version=20231121005129.0");
}
.song_list_playing {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background-color: Rgba(0, 0, 0, 0.5);
}
.song_list_playing bar {
  background-color: white;
  width: 5px;
  height: 10px;
  margin: 1px;
  animation: stretchBar 0.5s ease-in-out infinite;
}
.song_list_playing bar:first-child {
  animation-delay: 0.1s;
}
.song_list_playing bar:last-child {
  animation-delay: 0.2s;
}
.album_contents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Roboto Condensed", sans-serif;
  width: 80%;
  padding: 1.5% 3%;
}
.album_contents span:first-child {
  color: var(--darkgreen);
}
.album_contents span:last-child {
  font-weight: 600;
  font-size: 1.1em;
}
.album_more {
  display: flex;
  align-items: center;
}
.album_more span.material-symbols-outlined {
  color: var(--darkgreen);
  font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 200, "opsz" 24;
}
.play_now {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 90%;
  bottom: 0;
  right: 8%;
  color: var(--silver);
  font-family: var(--fontL);
  letter-spacing: 1px;
  background-color: black;
  border-radius: 30px;
  box-shadow: 5px 5px 10px Rgba(0, 0, 0, 0.2);
  margin-bottom: 5%;
}
.playnow_contents {
  display: flex;
  flex-direction: column;
}
.playnow_contents span {
  padding: 5px 0;
}
.playnow_contents span:first-child {
  color: var(--flower);
}
.playnow_button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
}
.playnow_button span:hover {
  cursor: pointer;
}

.playnow_button span.material-symbols-outlined {
  padding: 5%;
  font-size: 1em;
  color: var(--flower);
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 24;
}
.playnow_button span.material-symbols-outlined:nth-child(2) {
  font-size: 2em;
  color: var(--flower);
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
