.alt-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  color: var(--yellow);
  background-color: rgba(255, 255, 255, 0.1);
}
.alt-header a {
  color: var(--yellow);
}
.alt-header__title {
  font-size: 2rem;
  font-family: var(--fontB);
}
.alt-header__column {
  width: 26%;
}
.alt-header__column:nth-child(2) {
  width: 48%;
  white-space: nowrap;
  text-align: center;
}
.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.alt-header__column:last-child span:last-child {
  font-size: 2.2rem;
  margin-left: 20px;
}
.alt-header__column:last-child span:hover {
  cursor: pointer;
}
