.keyboard {
  position: absolute;
  bottom: -25%;
  display: flex;
  width: 100vw;
  min-width: 370px;
  height: 25%;
  flex-direction: column;
  justify-content: center;
  background-color: var(--pine);
  padding: 1%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.keyboard_row {
  color: white;
  font-family: var(--fontL);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5% 1%;
}
.keyboard_row:nth-child(2) {
  padding: 0.5% 4%;
}
.keyboard_row:nth-child(3) span {
  width: 11.5%;
}
.keyboard_row:nth-child(3) span:first-child {
  color: var(--pine);
  background-color: white;
  margin-right: 0.5%;
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 25;
}
#korean {
  color: white;
  background-color: var(--grape);
  margin-right: 0.5%;
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 25;
}
.keyboard_row:nth-child(3) span:last-child {
  margin-left: 0.5%;
  font-size: 1.8rem;
  padding: 1%;
  background-color: var(--grape);
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 200, "opsz" 48;
}
.keyboard_row:nth-child(4) div:first-child {
  background-color: var(--grape);
  font-size: 1rem;
}
.keyboard_row:nth-child(4) span {
  background-color: var(--grape);
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 200, "opsz" 48;
}
.keyboard_row:nth-child(4) div:nth-child(3) {
  font-size: 1.2rem;
  width: 55%;
}
.keyboard_row:nth-child(4) div:last-child,
.keyboard_row:nth-child(4) span:last-child {
  background-color: var(--grape);
  font-size: 1.2rem;
  width: 22%;
}
.keyboard_row div,
.keyboard_row span {
  display: flex;
  width: 9%;
  height: 45px;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: var(--flower);
  padding: 2%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px Rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}
.keyboard_row div:hover,
.keyboard_row span:hover {
  cursor: pointer;
  transform: translateY(1px);
}
