.nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-width: 370px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(1px);
  padding: 5%;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: var(--grape);
  transition: 0.6s;
}
.nav__link span.material-symbols-outlined:first-child {
  font-size: 2.8rem;
  padding-right: 2%;
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48;
}

.nav__current,
.nav__link:hover {
  color: var(--red);
}

@keyframes notificationAnimation {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  60% {
    transform: translateY(-5px) translateX(9px) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(0.3);
    opacity: 0;
  }
}

.nav__notification {
  position: absolute;
  left: 40%;
  bottom: 150%;
  will-change: transform;
  animation: notificationAnimation 2.5s ease-in-out infinite;
}
.nav__dot {
  background-color: var(--red);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: 100%;
  bottom: 170%;
}

@keyframes appearBtnAnimation {
  from {
    transform: scale(0.1);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.nav__btn {
  transform: translateY(50px);
  animation: appearBtnAnimation 1s ease-in-out forwards;
  will-change: transform;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.2s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.5s;
}
.nav__btn:nth-child(4) {
  animation-delay: 0.8s;
}
