@keyframes hideSplashScreen {
  from {
    filter: brightness(100%);
    opacity: 1;
  }
  to {
    filter: brightness(80%);
    opacity: 0;
    visibility: hidden;
  }
}
.splash-screen,
.mobile_bg_ballroom,
.splash-screen_teatime,
.mobile_bg_teatime,
.splash-screen_teatimechat,
.mobile_bg_teatimechat,
.splash-screen_dessert,
.mobile_bg_dessert,
.splash-screen_more,
.mobile_bg_more {
  position: absolute;
  height: 100vh;
  width: 100vw;
  min-width: 370px;
  background-size: cover;
  background-position: center;
}
.splash-screen,
.mobile_bg_ballroom {
  background-image: url("../../img/tea-flower.jpeg");
}
.splash-screen_teatime,
.mobile_bg_teatime {
  background-image: url("../../img/tea-herbs.jpg");
}
.splash-screen_teatimechat,
.mobile_bg_teatimechat {
  background-image: url("../../img/tea-leaves.jpg");
}
.splash-screen_dessert,
.mobile_bg_dessert {
  background-image: url("../../img/tea-dessert.jpg");
}
.splash-screen_more,
.mobile_bg_more {
  background-image: url("https://www.datocms-assets.com/20941/1618830991-adobestock304857713.jpeg?auto=compress&dpr=0.95&fm=jpg&w=850");
}
.splash-screen_dessert,
.splash-screen_teatimechat,
.splash-screen_teatime,
.splash-screen_more,
.splash-screen {
  z-index: 99;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  color: var(--yellow);
  animation-delay: 0.4s;
}

.mobile_bg_ballroom,
.mobile_bg_dessert {
  z-index: -1;
  filter: brightness(80%) blur(0.5px);
}
.mobile_bg_teatime {
  z-index: -1;
  filter: brightness(60%) blur(1px);
  opacity: 0.9;
}
.mobile_bg_teatimechat,
.mobile_bg_more {
  z-index: -1;
  filter: blur(0.5px);
  opacity: 0.9;
}
